{% extends 'base.html.twig' %}

{% block title %}Hello PatientController!{% endblock %}

{% block body %}
<h3> Bonjour {{ patient.Nom | upper }} {{ patient.prenom | capitalize }}</h3>

    {% if seances is defined %}
        <h4> vos Séances : </h4>
        {% for seance in seances %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{  seance.date|date("m/d/Y") }} &emsp;&emsp;&emsp; {{ seance.HeureDebut|date("H:i") }} - {{ seance.HeureFin|date("H:i") }}</h5>
                    <p class="card-text">
                        Professionnel : {{ seance.professionnel.nom }}<br>
                        {% if seance.type is defined %}
                            type de Scéance : {{ seance.type }} <br>
                        {% endif %}
                        {% if seance.note is defined %}
                            Note : {{ seance.note }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {%  endfor %}
    {% endif %}
{% endblock %}
