{% extends 'base.html.twig' %}
{% block title %}Bienvenue sur votre espace patient.{% endblock %}

{% block body %}
    <div class="content">
    <h3> Bonjour {{ patient.Nom | upper }} {{ patient.prenom | capitalize }}</h3>

    {% if seances is defined %}
        <div class="content">
        <h4> Vos Séances : </h4>
        {% for seance in seances %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"> {{  seance.date|date("d/m/Y") }} &emsp;&emsp;&emsp; {{ seance.HeureDebut|date("H:i") }} - {{ seance.HeureFin|date("H:i") }}</h5>
                    <p class="card-text">
                        Professionnel : Dr. {{ seance.professionnel.nom|capitalize }} - {{ seance.professionnel.specialite }}<br>
                        {% if seance.raison is defined %}
                            Type de Séance : {{ seance.raison }} <br>
                        {% endif %}
                        {% if seance.note is defined %}
                            Note : {{ seance.note }}
                        {% endif %}
                    </p>
                </div>
            </div>
        {%  endfor %}
        </div>
    {% endif %}
    </div>
{% endblock %}
